<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <form action="/" method="post">
        <input name="url" type="text" class="ghost-input" placeholder="Enter a City" required>
        <input type="submit" class="ghost-button" value="Submit">
    </form>
    <% if(data){ %>
    <p>You pressed submit button</p>
    <h1>Res</h1>
    <%= res %>
    <% } %>
</body>

</html>