<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="IBMocha">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="/formHandler.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var url;
        $("#submit").click(function(){
          url=$("#url").val();
          $.post("http://localhost:8008/login",{url: url}, function(data){
            if(data==='done')
              {
                alert("post success");
              }
          });
        });
      });
    </script>

  </head>
  <body>
    <header>
      <h1>
        IBMocha
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>

      <p>Let's make world a safer place!</p>

        <input name="url" id = "url" type="text" maxlength="1000" placeholder="URL to your web resource" aria-labelledby="submit">
        <button type="submit" id="submit">Analyse!</button>

      <section class="url">
        <ul id="url"></ul>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
